body {
    background-image:url('../img/tree-bg-old.png');
    background-repeat: no-repeat;
    background-color:#E8E8E8 !important;
    
    
}

.form-label {
    color: white;
}

.Tittle {
    color: white;
    font-size: 300%;
}

.card-readonly {
    transition: 500ms;
}
.card-readonly:hover {

background-color: gainsboro ;
}



hr {
color: white;
}

.grey-bg {
    background-color:whitesmoke ; 
}